[FILTER]
    Name   ${filter.name}
    Match  ${try(filter.match, "*")}

    # Parser filter
%{~ if filter.name == "parser" }
%{~ if try(filter.parser, null) != null }
    Parser ${filter.parser}
%{ endif ~}
%{~ if try(filter.key_name, null) != null }
    Key_Name ${filter.key_name}
%{ endif ~}
%{~ if try(filter.reserve_data, null) != null }
    Reserve_Data ${filter.reserve_data ? "On" : "Off"}
%{ endif ~}
%{~ if try(filter.preserve_key, null) != null }
    Preserve_Key ${filter.preserve_key ? "On" : "Off"}
%{ endif ~}
%{ endif ~}
    # Grep filter
%{~ if filter.name == "grep" }
%{~ if try(filter.regex, null) != null }
    Regex  ${filter.regex}
%{ endif ~}
%{~ if try(filter.exclude, null) != null }
    Exclude ${filter.exclude}
%{ endif ~}
%{ endif ~}
    # Modify filter
%{~ if filter.name == "modify" }
%{~ if try(filter.add_fields, null) != null }
%{~ for k, v in filter.add_fields }
    Add ${k} ${v}
%{ endfor ~}
%{ endif ~}
%{~ if try(filter.rename_fields, null) != null }
%{~ for k, v in filter.rename_fields }
    Rename ${k} ${v}
%{ endfor ~}
%{ endif ~}
%{~ if try(filter.remove_fields, null) != null }
%{~ for field in filter.remove_fields }
    Remove ${field}
%{ endfor ~}
%{ endif ~}
%{ endif ~}

    # Nest filter
%{~ if filter.name == "nest" }
%{~ if try(filter.operation, null) != null }
    Operation ${filter.operation}
%{ endif ~}
%{~ if try(filter.wildcard, null) != null }
%{~ for pattern in filter.wildcard }
    Wildcard ${pattern}
%{ endfor ~}
%{ endif ~}
%{~ if try(filter.nest_under, null) != null }
    Nest_under ${filter.nest_under}
%{ endif ~}
%{~ if try(filter.nested_under, null) != null }
    Nested_under ${filter.nested_under}
%{ endif ~}
%{~ if try(filter.remove_prefix, null) != null }
    Remove_prefix ${filter.remove_prefix}
%{ endif ~}
%{~ if try(filter.add_prefix, null) != null }
    Add_prefix ${filter.add_prefix}
%{ endif ~}
%{ endif ~}
# ####################################### #
